
p {
    color: blue;
    text-align: center;
    font-family: "Brush Script M", Cursive;
}

body {
    background-color: dodgerblue;
}

h1, h2 {
    background-color: forestgreen;
}

.myclass {
    background-color: midnightblue;
    color: #ffffff;
}

